<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271962741538-8d5n93vspobrtpcprt7cer705kcvqspg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271962741538-8d5n93vspobrtpcprt7cer705kcvqspg</string>
	<key>API_KEY</key>
	<string>AIzaSyAttJ3Jv-3AwIrJ_A4UMOYS959OnV2O7n0</string>
	<key>GCM_SENDER_ID</key>
	<string>271962741538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mnt.tariqul.blogin_test</string>
	<key>PROJECT_ID</key>
	<string>flutter-notification-8626d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notification-8626d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271962741538:ios:4de23836664665b61b637b</string>
</dict>
</plist>